@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

#menu{
    background-color: #024b68ec;
    border-right: #0d4870;
}
#menu nav{
    max-width: 800px;
}

#menu a{
    display: inline-block;
    color:azure;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    padding: 20px;
    transition: background-color .6s;
    
}
#menu a:hover{
    background-color: rgb(27, 75, 104);
    border-radius: 10px;
    transform: scale(1.05);

}
#menu a:last-child{
    float: right;
    background-color: #043142ec;
    border-top-left-radius: 24px;
}
h1{
    padding: 2rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    color: rgb(10, 0, 100);
    text-align: center;
}
h5{
    text-align: center;
    background-color: #0d4870;
    border-radius: 40px;
    color: azure;
    padding: 15px;
    font-size: 20px;
}
body{
    font-family: "Cabin", sans-serif;
    color: #212529;
    background-color: #fff;
    text-align: left;
    margin: 0;
    background-color: #86b9c9;
}
#rodape{
    background-color: #1573b3;
    color: beige;
    height: 350px;
    text-align: center;
    padding: 20px 0;
    
}

.email,.email li, .horario li {
    list-style: none;
    text-align:center;
    padding: 10px;

}

.footer-topico, .horario{
    background-color: #1573b3;
    text-decoration: none;
    text-align:center;
    padding: 10px;
}
footer{
    background-color: #023e56ec;
}
.footer, .footer li{
    background-color: #023e56ec;
    color: beige;
    height: 100px;
    text-align:left;
    list-style: none;
    padding: 13px;
}
small{
    font-size: small;

}
