nav{
    
    background-color: rgb(41, 138, 64);
    padding: 15px;
    border-radius: 8px;

}
a{
    color:azure;
    text-decoration:wavy;
    font-size: 19px;
    font-weight: bold;
}
a:hover{
    color:rgb(0, 242, 20);
    text-decoration:wavy;
    font-size: 20px;
    font-weight: bold;
}
.elemento{
    margin: 190px
}

